@import "tailwindcss";

.text-shadow-purple {
  text-shadow: 2px 2px 4px #af74d7;
}

.progress {
  width: 100%;
  height: 12px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.progress::-webkit-progress-bar {
  background-color: #fff;
  border-radius: 20px;
}

.progress::-webkit-progress-value {
  background-color: #af74d7;
  border-radius: 20px;
}

.progress::-moz-progress-bar {
  background-color: #af74d7;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #000 inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #000 inset !important;
  -webkit-text-fill-color: #fff !important;
}

